@model IEnumerable<RestaurantReviewsLibrary.Restaurant>

<p>
    @Html.ActionLink("Create New", "Create") |
    @Html.ActionLink("Show Top 3 Rated Restaurants","Index", new { sort = ViewBag.Top3})
</p>

<form asp-controller="Restaurant" asp-action"Index">
    <p>Search by Restaurant: <input type="text" name="SearchString" />
    <input type="submit" value="Search"/>
    </p>
</form>
<table class="table">
    <tr>
        <th>@Html.ActionLink("Name","Index", new { sort = ViewBag.SortByName, SearchString = ViewBag.SearchString })
    
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.RestaurantAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RestaurantCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RestaurantState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RestaurantPhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RestaurantURL)
        </th>
        <th>
            @Html.ActionLink("Customer Rating", "Index", new { sort = ViewBag.SortByRating})
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.RestaurantName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RestaurantAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RestaurantCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RestaurantState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RestaurantPhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RestaurantURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerRating)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "DeleteRestaurant", new { id=item.Id }) |
            @Html.ActionLink("Reviews", "ListReviews", "Review" ,new { id = item.Id }, null)

        </td>
    </tr>
}

</table>
